Django==6.0.1
python-decouple==3.8
pydantic==2.12.5
langchain==1.2.6
langchain-core==1.2.7
langchain-openai==1.1.7
langchain-google-genai==4.2.0
langchain-groq==1.1.1
openai==2.15.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
weasyprint==68.1
